<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Dev sideload: install APKs from https://updater.javp.app/dev -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="JAVP Dev"
        tools:replace="android:label" />
</manifest>
