<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Unsigned portable zip: no App Sandbox. Network + local torrent HTTP need
	     unrestricted file/network access like the Windows/Linux sideload builds. -->
	<key>com.apple.security.app-sandbox</key>
	<false/>
</dict>
</plist>
